<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Quizeria</title>
</head>
<body ng-app="QuizApp">
	<header>
		<h1>Quizeria</h1>
	</header>

	<nav></nav>
	<section ng-controller="QuestionController as questCtrl">
		<div>{{questCtrl.currentQuestion.question}}</div>

		<div ng-show="questCtrl.currentQuestion.answers.length">
			<ol>
				<li ng-hide="questCtrl.currentQuestion.isMutliChoice"
					ng-repeat="ans in questCtrl.currentQuestion.answers"><input
					type="radio" name="questCtrl.currentQuestion.selectedAnswer"
					value="{{ans}}"> <label>{{ans}}</label></li>

				<li ng-show="questCtrl.currentQuestion.isMutliChoice"
					ng-repeat="ans in questCtrl.currentQuestion.answers"><input
					type="checkbox" name="questCtrl.currentQuestion.selectedAnswer"
					value="{{ans}}"> <label>{{ans}}</label></li>

			</ol>


		</div>

		<div ng-hide="questCtrl.currentQuestion.answers.length">
			<label>Your Answer : </label>
			<textarea> </textarea>
		</div>


		<button type="button" ng-click="questCtrl.getNextQuestion()">Next</button>
	</section>
	<footer></footer>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
	<script type="text/javascript" src="js/quizApp.js"></script>
	<script type="text/javascript" src="js/questionController.js"></script>


</body>
</html>